{% extends 'base.html' %}

{% block title %}NightSight{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='particles.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />

{% endblock %}

{% block body %}
<div class="container-fluid" id="particles-js">
<div class="container">
    <div class="row" style="height: 10vh">
        <h1 class="display-2" style="color: white">NightSight</h1>
    </div>
    <div class="row" style="height: 90vh">
        <div class="col-sm-6">
            <img src="https://cdn.cnn.com/cnnnext/dam/assets/201113173216-donald-trump-november-13-2020-01-exlarge-169.jpg" class="img-fluid" alt="Original">
            <form style="margin-top: 10px">
                <div class="form-group">
                    <label>
                        <input class="form-control">
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Enhance</button>
            </form>
        </div>
        <div class="col-sm-6">
            <p>Hello</p>
        </div>
    </div>
</div>
</div>

<script>
    particlesJS.load('particles-js', '{{ url_for('static', filename='particlesjs-config.json') }}');
</script>
{% endblock %}
