{% extends 'base.html' %}

{% block title %}NightSight{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
{% endblock %}

{% block body %}
<div class="container-fluid" id="particles-js"></div>
<div class="container">
    <div class="row" style="height: 10vh">
        <h1 class="display-2" style="color: white">NightSight</h1>
    </div>
    <div class="row" id="main" style="height: 90vh">
        <div class="col-sm-6">
            {% if image_org is defined %}
                <img src="{{ url_for('static', filename='uploads/'+image_org) }}" class="img-fluid" alt="Original">
            {% endif %}

            <form method=POST enctype="multipart/form-data" action="{{ url_for('upload') }}" style="margin-top: 10px">
                <div class="form-group">
                    <label>
                        <input type="file" class="form-control" name="image">
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Enhance</button>
            </form>
        </div>
        <div class="col-sm-6">
            <p>Hello</p>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', '{{ url_for('static', filename='particlesjs-config.json') }}');
    </script>
{% endblock %}
